@charset "utf-8";
html, body {
    font-family: "微软雅黑";
    font-size: 12px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.sgwtTitle {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    font-size:18px;
}

.exampleSeparator {
    border-bottom: 2px solid gray;
    background-color:white; color:black;
    font-weight: bold;
    text-align: left;
}

/* Buttons*/
.cssButton {
    padding:2px;
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; background-color:#CCCCCC;
    border-left:1px solid white; border-top:1px solid white;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=#AAAAAA, endColorStr=#EEEEEE)";
}
.cssButtonOver {
    padding:2px;
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; background-color:#CCCCCC;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid white; border-bottom:1px solid white;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=#EEEEEE, endColorStr=#AAAAAA)";
}
.cssButtonDown {
    padding:2px;
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; background-color:#AAAAAA;
    border-left:1px solid #666666; border-top:1px solid #666666;
    border-right:1px solid white; border-bottom:1px solid white;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=#CCCCCC, endColorStr=#888888)";
}
.cssButtonDisabled {
    padding:2px;
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; color:#666666;
    background-color:#CCCCCC;
    border-left:1px solid #CCCCCC; border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=0, startColorStr=#888888, endColorStr=#CCCCCC)";
}

.stretchTitle,
.stretchTitleOver {
    font-family:Tahoma,Verdana, Bitstream Vera Sans, sans-serif;
    font-size:10px;
    font-weight:bold;
}

.stretchTitleDown {
    font-family:Tahoma,Verdana, Bitstream Vera Sans, sans-serif; font-size:10px; font-weight:bold;
    padding-left:1px; padding-top:2px;
}

.stretchTitleDisabled {
    font-family:Tahoma,Verdana, Bitstream Vera Sans, sans-serif; font-size:10px; color:#666666;
    font-weight:bold;
}

.explorerTabTitle,
.explorerTabTitleDown {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:12px;
    padding-top:3px;
}
.explorerTabTitleOver {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:12px;
    padding-top:3px;
}
.explorerTabTitleDisabled {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:12px;
      color:#666666;
    padding-top:3px;
}
.explorerTabTitleSelected,
.explorerTabTitleSelectedDown {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:12px;
      font-weight:bold;
    padding-bottom:2px;
}
.explorerTabTitleSelectedOver {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:12px;
      font-weight:bold;
    padding-bottom:2px;
}
.explorerTabTitleSelectedDisabled {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:12px;
      color:#666666;
    font-weight:bold;
    padding-bottom:2px;
}
.exampleTabTitle,
.exampleTabTitleSelected,
.exampleTabTitleOver,
.exampleTabTitleDown,
.exampleTabTitleSelectedOver,
.exampleTabTitleSelectedDown,
.exampleTabTitleDisabled,
.exampleTabTitleSelectedDisabled {
    font-family:微软雅黑,Arial,Bitstream Vera Sans,sans-serif; font-size:12px; font-weight:bold;
    color: #DDDDDD;
    padding-right:20px;
}

.exampleTabTitleSelected {
    color: #213D42;
}
.exampleTabTitleOver,
.exampleTabTitleDown,
.exampleTabTitleSelectedOver,
.exampleTabTitleSelectedDown {
    color: #00CCCC;
}
.exampleTabTitleDisabled,
.exampleTabTitleSelectedDisabled {
    color: #666666;
}

.explorerExampleTitle {
	font-family:Bitstream Vera Sans,sans-serif;
	color:#ffffff;
	padding-left:6px;
	background-color:#404080;
	font-size:18px;
}
.explorerExampleDescription {
	font-family:Georgia,serif;
	font-size:13px;
	padding:6px;
}
.explorerTitlePageTitle {
	font-family:Bitstream Vera Sans,sans-serif;
	color:#ffffff;
	padding-left:6px;
	background-color:#404080;
	font-size:18px;
}
.explorerTitlePageDescription {
	font-family:Georgia,serif;
	font-size:13px;
	padding:6px;
}
.explorerFolderList {
	font-family:Georgia,serif;
	font-size:13px;
	padding:6px;
}
.explorerCheckErrorMessage {
    color: red;
	font-family:Georgia,serif;
	font-size:13px;
}
.explorerSourceEditor {
	border:1px solid #808080;
	padding:10px;
	font-size:12px;
	font-family:Lucida Console, Monaco, Bitstream Vera Sans Mono, sans-serif;
}
.explorerSourceViewer {
	padding:10px;
	font-size:12px;
	font-family:Lucida Console, Monaco, Bitstream Vera Sans Mono, sans-serif;
}

.explorerTree {
    border-top: 2px solid rgb(129,141,185);
}

.splitbarDown {
	border-left:2px solid #606060;
	border-right:2px solid #606060;
	background-color:#F0F0F0;
}

.examplePane {
	margin:20px;
}

.jumpButton {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:12px;
	border:1px solid #F0F0F0;
}

.jumpButtonOver {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:12px;
    border: 1px solid white;
    border-right-color: #808080;
    border-bottom-color: #808080;

}

.jumpButtonDown {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:12px;
    border: 1px solid #808080;
    border-right-color: white;
    border-bottom-color: white;

}

.exampleDescCode {
	font-family:Bitstream Vera Sans Mono, Courier New, monospace;
	font-size:14px;
	font-weight:bold;
}

.exampleTitle {
	font-family:Gill Sans MT,Bitstream Vera Sans,sans-serif; font-size:22px;
}

.exampleText {
	font-family:Georgia,serif; font-size:12px;
}

.exampleTextBlock {
	font-family:Georgia,serif; font-size:12px;
	line-height:16px; text-align:justify;
	padding-left:10px; padding-right:10px;
}

.exampleDropTitle {
	float:left;font-family:Gill Sans MT,Bitstream Vera Sans,sans-serif;
    font-size:22px;
    line-height:32px;
    color:#404040;
}

.interactImageHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:12px;
    border:1px solid #808080;
    padding:5px;
    background-color:#b8d0ff;
    color:black;
}

.interactFormHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:12px;
    border:1px solid #ffffff;
    padding:5px;
    background-color:#000000;
    color:#ffffff;
}

/*
grid cell styles sample
*/
.myBoxedGridCell,
.myBoxedGridCellDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#ffffff;
}
.myBoxedGridCellOver,
.myBoxedGridCellOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#c0ffc0;
}
.myBoxedGridCellSelected,
.myBoxedGridCellSelectedDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:white;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#000080;
}
.myBoxedGridCellSelectedOver,
.myBoxedGridCellSelectedOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:white;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#8080ff;
}
.myBoxedGridCellDisabled,
.myBoxedGridCellDisabledDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:#808080;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#ffffff;
}

.myOtherGridCell {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:black;
    border-bottom:1px solid #ffffff; border-top:1px solid #ffffff;
    background-color:#ffffff;
}
.myOtherGridCellDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:black;
    border-bottom:1px solid #f0f0e8; border-top:1px solid #f0f0e8;
    background-color:#f0f0e8;
}
.myOtherGridCellOver,
.myOtherGridCellOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:black;
    border-bottom:1px solid #c0c0c0; border-top:1px solid #c0c0c0;
    background-color:#ffffc0;
}
.myOtherGridCellSelected,
.myOtherGridCellSelectedDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:black;
    border-bottom:1px solid #c0c0ff; border-top:1px solid #c0c0ff;
    background-color:#c0c0ff;
}
.myOtherGridCellSelectedOver,
.myOtherGridCellSelectedOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-top:1px solid #a0a0a0;
    background-color:#e0e0ff;
}
.myOtherGridCellDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:#808080;
    border-bottom:1px solid #ffffff; border-top:1px solid #ffffff;
    background-color:#ffffff;
}
.myOtherGridCellDisabledDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:#808080;
    border-bottom:1px solid #f0f0e8; border-top:1px solid #f0f0e8;
    background-color:#f0f0e8;
}

.simpleCell,
.simpleCellSelected,
.simpleCellOver,
.simpleCellSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:black;
}

.simpleCellDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px;
    color:#808080;
}

/*
hilite cells replace
*/
.myHighGridCell,
.myHighGridCellDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #ffc0c0; border-top:1px solid #ffc0c0;
    background-color:#ffc0c0;
}
.myHighGridCellOver,
.myHighGridCellOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #c0c0c0; border-top:1px solid #c0c0c0;
    background-color:#ffe0e0;
}
.myHighGridCellSelected,
.myHighGridCellSelectedDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #ffc0ff; border-top:1px solid #ffc0ff;
    background-color:#ffc0ff;
}
.myHighGridCellSelectedOver,
.myHighGridCellSelectedOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #a0a0a0; border-top:1px solid #a0a0a0;
    background-color:#ffe0ff;
}
.myHighGridCellDisabled,
.myHighGridCellDisabledDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:#808080;
    border-bottom:1px solid #ffc0c0; border-top:1px solid #ffc0c0;
    background-color:#ffc0c0;
}


.myLowGridCell,
.myLowGridCellDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #c0ffc0; border-top:1px solid #c0ffc0;
    background-color:#c0ffc0;
}
.myLowGridCellOver,
.myLowGridCellOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #c0c0c0; border-top:1px solid #c0c0c0;
    background-color:#e0ffe0;
}
.myLowGridCellSelected,
.myLowGridCellSelectedDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #c0ffff; border-top:1px solid #c0ffff;
    background-color:#c0ffff;
}
.myLowGridCellSelectedOver,
.myLowGridCellSelectedOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #a0a0a0; border-top:1px solid #a0a0a0;
    background-color:#e0ffff;
}
.myLowGridCellDisabled,
.myLowGridCellDisabledDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:#808080;
    border-bottom:1px solid #c0ffc0; border-top:1px solid #c0ffc0;
    background-color:#c0ffc0;
}

/*calendar samples*/
.testStyle {
    font-size:9px;
    background-color:#FA8072;
   border: 1px solid #004D99;
}

.testStyleHeader {
    font-size:9px; color: white;
    background-color:#B22222;
}

.testStyleBody {
    font-size: 9px;
    background-color: #FA8072;
    padding: 3px;
}

.testStyleResizer{
    border-top:1px solid white;
    border-bottom: 1px solid white;
}

/* tree connectors sample */

.noBorderCell {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    background-color:#ffffff;
}
.noBorderCellDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    background-color:#f0f0f0;
}
.noBorderCellOver,
.noBorderCellOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    background-color:#ffffc0;
}
.noBorderCellSelected,
.noBorderCellSelectedDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    background-color:#b8d0ff;
}
.noBorderCellSelectedOver,
.noBorderCellSelectedOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:black;
    background-color:#e0ebff;
}
.noBorderCellDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:#808080;
    background-color:#ffffff;
}
.noBorderCellDisabledDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; text-overflow:ellipsis;
    color:#808080;
    background-color:#f0f0e8;
}

/*filter tiling sample*/
.commonName,
.commonNameOver,
.commonNameSelected,
.commonNameSelectedOver,
.endangered,
.threatened,
.notEndangered {
    font-size:8pt;
}

.commonName,
.commonNameOver,
.commonNameSelected,
.commonNameSelectedOver {
    color:darkblue;
    font-weight:bold;
}

.endangered {
    color:red;
    font-weight:bold;
}

.threatened {
    color:orange;
}

.notEndangered {
    color:green;
}

.lifeSpan,
.lifeSpanOver,
.lifeSpanSelected,
.lifeSpanSelectedOver{
    color:green;
}

/*gwt  intergration */

.gwt-Reference-standard {
  height: 5px;
  width: 5px;
  zoom: 1;
}

.gwt-Button {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  background: url("images/hborder.png") repeat-x 0px -27px;
  border: 1px outset #ccc;
}
.gwt-Button:active {
  border: 1px inset #ccc;
}
.gwt-Button:hover {
  border-color: #9cf #69e #69e #7af;
}
.gwt-Button[disabled] {
  cursor: default;
  color: #888;
}
.gwt-Button[disabled]:hover {
  border: 1px outset #ccc;
}

.gwt-DecoratorPanel {
}
.gwt-DecoratorPanel .topCenter,
.gwt-DecoratorPanel .bottomCenter {
  background: url(images/hborder.png) repeat-x;
}
.gwt-DecoratorPanel .middleLeft,
.gwt-DecoratorPanel .middleRight {
  background: url(images/vborder.png) repeat-y;
}
.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
html>body .gwt-DecoratorPanel .topLeft {
  background: url(images/corner.png) no-repeat 0px 0px;
}
html>body .gwt-DecoratorPanel .topRight {
  background: url(images/corner.png) no-repeat -5px 0px;
}
html>body .gwt-DecoratorPanel .bottomLeft {
  background: url(images/corner.png) no-repeat 0px -5px;
}
html>body .gwt-DecoratorPanel .bottomRight {
  background: url(images/corner.png) no-repeat -5px -5px;
}
* html .gwt-DecoratorPanel .topLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}
* html .gwt-DecoratorPanel .topRightInner {
  width: 10px;
  height: 5px;
  margin-left: -5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}
* html .gwt-DecoratorPanel .bottomLeftInner {
  width: 5px;
  height: 10px;
  margin-left: 0px;
  margin-top: -5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}
* html .gwt-DecoratorPanel .bottomRightInner {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}

.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #d0e4f6;
}
.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background: #92c1f0;
}
.gwt-TabPanel {
}
.gwt-TabPanelBottom {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}

.gwt-DecoratedTabBar {
}
.gwt-DecoratedTabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}
.gwt-DecoratedTabBar .gwt-TabBarRest {
}
.gwt-DecoratedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}
.gwt-DecoratedTabBar .tabTopCenter {
  padding: 0px;
  background: #d0e4f6;
}
.gwt-DecoratedTabBar .tabTopLeft,
.gwt-DecoratedTabBar .tabTopRight {
  padding: 0px;
  zoom: 1;
}
.gwt-DecoratedTabBar .tabTopLeftInner,
.gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
}
html>body .gwt-DecoratedTabBar .tabTopLeft {
  background: url(images/corner.png) no-repeat 0px -55px;
}
html>body .gwt-DecoratedTabBar .tabTopRight {
  background: url(images/corner.png) no-repeat -6px -55px;
}
* html .gwt-DecoratedTabBar .tabTopLeftInner {
  width: 5px;
  height: 61px;
  margin-top: -55px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}
* html .gwt-DecoratedTabBar .tabTopRightInner {
  width: 12px;
  height: 61px;
  margin-top: -55px;
  margin-left: -6px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}
.gwt-DecoratedTabBar .tabMiddleLeft,
.gwt-DecoratedTabBar .tabMiddleRight {
  width: 6px;
  padding: 0px;
  background: #d0e4f6;
}
.gwt-DecoratedTabBar .tabMiddleLeftInner,
.gwt-DecoratedTabBar .tabMiddleRightInner {
  width: 1px;
  height: 1px;
}
.gwt-DecoratedTabBar .tabMiddleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #d0e4f6;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
  background: #92c1f0;
}
html>body .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
  background-position: 0px -61px;
}
html>body .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
  background-position: -6px -61px;
}
* html .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeftInner {
  width: 5px;
  height: 67px;
  margin-top: -61px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}
* html .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRightInner {
  width: 12px;
  height: 67px;
  margin-top: -61px;
  margin-left: -6px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {
  background: #92c1f0;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
  cursor: default;
  background: #92c1f0;
}

.vpDotted {
  border: 1px dotted blue;
}

.thumbnail,
.thumbnailOver,
.thumbnailSelected,
.thumbnailSelectedOver {
    border : 1px solid #CDCDCB;
}

.thumbnailTitle,
.thumbnailTitleOver,
.thumbnailTitleSelected,
.thumbnailTitleSelectedOver {
    font-size:9px;
    text-overflow:ellipsis;
}

.thumbnailTitleOver,
.thumbnailTitleSelected,
.thumbnailTitleSelectedOver {
    font-size:9px;
    text-overflow:ellipsis;    
    color: #336699;
}

/**hjz**/
.formTitle, .formTitleFocused, .formTitleDisabled, .formCellError, .formTitleError, .formHint, .headerItem, .headerItemDisabled, .headerItemError, .staticTextItem, .staticTextItemDisabled, .staticTextItemError, .textItem, .textItemFocused, .textItemDisabled, .textItemError, .textItemHint, .selectItemControl, .selectItemControlError, .selectItemControlFocused, .selectItemText, .selectItemTextError, .selectItemTextDisabled, .selectItemTextFocused, .pickListCell, .pickListCellSelected, .pickListCellDisabled, .pickListCellDark, .pickListCellSelectedDark, .tallPickListCell, .tallPickListCellSelected, .tallPickListCellDisabled, .tallPickListCellDark, .tallPickListCellSelectedDark, .labelAnchor, .labelAnchorDisabled, .labelAnchorError, .labelAnchorFocused {font-size:14px !important;}
.windowHeaderText, .dialogHeaderText {font-size:14px !important;}
.treeCell, .treeCellDark, .treeCellOver, .treeCellOverDark, .treeCellSelected, .treeCellSelectedDark, .treeCellSelectedOver, .treeCellSelectedOverDark, .treeCellDisabled, .treeCellDisabledDark, .treeTallCell, .treeTallCellDark, .treeTallCellOver, .treeTallCellOverDark, .treeTallCellSelected, .treeTallCellSelectedDark, .treeTallCellSelectedOver, .treeTallCellSelectedOverDark, .treeTallCellDisabled, .treeTallCellDisabledDark {font-size:14px !important;}
.cell, .cellDark, .cellOver, .cellOverDark, .cellSelected, .cellSelectedDark, .cellSelectedOver, .cellSelectedOverDark, .cellDisabled, .cellDisabledDark, .tallCell, .tallCellDark, .tallCellOver, .tallCellOverDark, .tallCellSelected, .tallCellSelectedDark, .tallCellSelectedOver, .tallCellSelectedOverDark, .tallCellDisabled, .tallCellDisabledDark, .gridSummaryCell, .gridSummaryCellDisabled, .recordSummaryCell, .recordSummaryCellDark, .recordSummaryCellOver, .recordSummaryCellOverDark, .recordSummaryCellSelected, .recordSummaryCellSelectedDark, .recordSummaryCellSelectedOver, .recordSummaryCellSelectedOverDark, .recordSummaryCellDisabled, .recordSummaryCellDisabledDark, .expansionCellCell, .expansionCellCellDark, .expansionCellCellOver, .expansionCellCellOverDark, .expansionCellCellSelected, .expansionCellCellSelectedDark, .expansionCellCellSelectedOver, .expansionCellCellSelectedOverDark, .expansionCellCellDisabled, .expansionCellCellDisabledDark, .specialCol, .specialColOver, .specialColSelected, .specialColSelectedOver, .specialColDisabled, .groupNode{font-size:14px !important;}
.headerTitle, .headerTitleOver, .headerTitleDown, .headerTitleSelected, .headerTitleSelectedOver, .headerTitleSelectedDown, .headerTitleDisabled, .headerTitleSelectedDisabled {font-size:14px !important;}
.menu, .menuSelected, .menuOver, .menuSelectedOver, .menuDisabled, .menuTitleField, .menuTitleFieldSelected, .menuTitleFieldOver, .menuTitleFieldSelectedOver, .menuTitleFieldDisabled, .menuIconField, .menuIconFieldOver, .menuIconFieldSelected, .menuIconFieldSelectedOver, .menuIconFieldDisabled, .treeMenuSelected, .treeMenuSelectedOver, .treeMenuSelectedSelected, .treeMenuSelectedSelectedOver {font-size:14px !important;padding-top:5px\9 !important;}
.context-download {display:block;color:#333;text-decoration:none;cursor:default}.normal,.canvasHover, .gridHover, .formHover{font-size:14px !important;}

.netDiskTitle{color:#283347;font-size:14px;font-weight:700;}

/*-yz-*/
.toolStrip{background-size:auto auto}
.toolStrip .buttonTitle ,.toolStrip .buttonTitle,.toolStrip .buttonTitleOver ,.toolStrip .buttonTitleDown ,.toolStrip .buttonTitleDisabled {padding-left:20px;}
.toolStrip .buttonTitleOver {color:#ee7800;}
.dialogBackground + .normal,.customWindow + .normal {display:none\9 !important;}
.windowBody,.dialogBody{background:#fff !important;border:1px solid #f1f1f1 !important;}

/*-下载按钮-*/
#downloadbtn-enabled{width:58px;height:23px;background:url(images/images/buttonBg.jpg);cursor:pointer;}
#downloadbtn-disabled{width:58px;height:23px;background:url(images/images/buttonBg.jpg)}
#downloadimg-enabled, #downloadbtn-disabled #downloadimg-disabled{border:0 none;margin:4px 0 0 6px;}
#downloadtxt-enabled{font-size:12px;color:#000000;position:absolute;top:4px;left:26px;top:5px \9;cursor:pointer;}
#downloadbtn-disabled #downloadtxt-disabled{font-size:12px;color:#aaaaaa;position:absolute;top:4px;left:26px;top:5px \9;}
/** html #downloadbtn-enabled a #downloadtxt-enabled, * html #downloadbtn-disabled #downloadtxt-disabled{top:6px}*/

.advancedSearchButtonBase,.advancedSearchButtonBaseDisabled{background:url(images/images/advancedSearchButtonBg.jpg)}
.advancedSearchButtonTitle span{font-size:12px;color:#000000;position:absolute;top:4px;left:5px}
.advancedSearchButtonTitleDisabled span{font-size:12px;color:#aaaaaa;position:absolute;top:4px;left:5px}

.goBackButtonTitle{background:url(images/icons/16/goBack.gif) no-repeat 2px 4px}
.goBackButtonTitleDisabled{background:url(images/icons/16/goBack_Disabled.gif) no-repeat 2px 4px;}
.goBackButtonBase{background:url(images/images/topButtons.jpg) no-repeat -1px 0px;padding-left:6px;color:#535353}
.goBackButtonBaseDisabled{background:url(images/images/topButtons_Disabled.jpg) no-repeat -1px 0px;padding-left:6px;color:#949494}
.goBackButtonBaseOver{background:url(images/images/topButtons_Over.jpg) no-repeat -1px 0px;padding-left:6px;color:#ee7800}


.uploadMenuButtonTitle:first-child{padding-left:36px\9!important}
.uploadMenuButtonBase{background:url(images/images/topButtons.jpg) no-repeat -69px 0px;color:#535353;padding-left:36px!important}
.uploadMenuButtonBaseDisabled{background:url(images/images/topButtons_Disabled.jpg) no-repeat -69px 0px;color:#949494;padding-left:36px!important}
.uploadMenuButtonBaseOver{background:url(images/images/topButtons_Over.jpg) no-repeat -69px 0px;color:#ee7800;padding-left:36px!important}

.uploadButtonBase{background:url(images/images/topButtons.jpg) no-repeat -69px 0px;color:#535353;padding-left:36px!important}
.uploadButtonBaseDisabled{background:url(images/images/topButtons_Disabled.jpg) no-repeat -69px 0px;color:#949494;padding-left:36px!important}
.uploadButtonBaseOver{background:url(images/images/topButtons_Over.jpg) no-repeat -69px 0px;color:#ee7800;padding-left:36px!important}

.addDirButtonBase{background:url(images/images/topButtons.jpg) no-repeat -162px 0px;padding-left:20px;color:#535353}
.addDirButtonBaseDisabled{background:url(images/images/topButtons_Disabled.jpg) no-repeat -162px 0px;padding-left:20px;color:#949494}
.addDirButtonBaseOver{background:url(images/images/topButtons_Over.jpg) no-repeat -162px 0px;padding-left:20px;color:#ee7800}

.downloadButtonTitle{background:url(images/icons/16/download.gif) no-repeat 2px 4px}
.downloadButtonTitleDisabled{background:url(images/icons/16/download_Disabled.gif) no-repeat 2px 4px}
.downloadButtonBase{background:url(images/images/topButtons.jpg) no-repeat -164px 0px}
.downloadButtonBaseDisabled{background:url(images/images/topButtons_Disabled.jpg) no-repeat -164px 0px}

.deleteButtonTitle{background:url(images/icons/16/delete.gif) no-repeat 2px 4px}
.deleteButtonTitleDisabled{background:url(images/icons/16/delete_Disabled.gif) no-repeat 2px 4px}
.deleteButtonBase{background:url(images/images/topButton_bg.jpg) no-repeat;color:#535353}
.deleteButtonBaseDisabled{background:url(images/images/topButton_bg_Disabled.jpg) no-repeat;color:#949494}
.deleteButtonBaseOver{background:url(images/images/topButton_bg_Over.jpg) no-repeat;color:#ee7800}

.refreshButtonTitle{background:url(images/icons/16/refresh.gif) no-repeat 2px 4px}

.backUpToButtonTitle{background:url(images/icons/16/backUpTo.gif) no-repeat 2px 4px}
.backUpToButtonTitleDisabled{background:url(images/icons/16/backUpTo_Disabled.gif) no-repeat 2px 4px}
.backUpToButtonBase{background:url(images/images/topButton_bg.jpg) no-repeat;color:#535353}
.backUpToButtonBaseDisabled{background:url(images/images/topButton_bg_Disabled.jpg) no-repeat;color:#949494}
.backUpToButtonBaseOver{background:url(images/images/topButton_bg_Over.jpg) no-repeat;color:#ee7800}

.destroyButtonTitle{background:url(images/icons/16/destroy.gif) no-repeat 2px 4px}
.destroyButtonTitleDisabled{background:url(images/icons/16/destroy_Disabled.gif) no-repeat 2px 4px}
.destroyButtonBase{background:url(images/images/topButton_bg.jpg) no-repeat;color:#535353}
.destroyButtonBaseDisabled{background:url(images/images/topButton_bg_Disabled.jpg) no-repeat;color:#949494}
.destroyButtonBaseOver{background:url(images/images/topButton_bg_Over.jpg) no-repeat;color:#ee7800}

.goBackButtonTitle span,.createDirButtonTitle span,.downloadButtonTitle span,.deleteButtonTitle span,.refreshButtonTitle span,.backUpToButtonTitle span,.destroyButtonTitle span{font-size:12px;color:#d2d2d2;position:absolute;top:4px;left:22px;top:5px \9;}
.goBackButtonTitleDisabled span,.createDirButtonTitleDisabled span,.downloadButtonTitleDisabled span,.deleteButtonTitleDisabled span,.backUpToButtonTitleDisabled span,.destroyButtonTitleDisabled span{font-size:12px;color:#d2d2d2;position:absolute;top:4px;left:22px;top:5px \9;}

.recycleButtonBase{background:url(images/images/recycle_btn.jpg) no-repeat}
.recycleButtonBaseOver{background:url(images/images/recycle_btn_Over.jpg) no-repeat}

.buttonBase,.buttonBaseDisabled{background:url(images/images/buttonBg.jpg)}
.buttonBase1,.buttonBase1Disabled{background:url(images/images/buttonBg1.jpg)}
.buttonBase2,.buttonBase2Disabled{background:url(images/images/buttonBg2.jpg)}
.buttonBase3,.buttonBase3Disabled{background:url(images/images/buttonBg3.jpg)}
.buttonBase4,.buttonBase4Disabled{background:url(images/images/buttonBg4.jpg)}

.othersMenuButtonTitle{background:url(images/images/topButtons.jpg) no-repeat -280px 0px;color:#535353;padding-left:10px;}
.othersMenuButtonBase{background:url(images/images/topButtons.jpg) no-repeat -280px 0px;color:#535353;padding-left:10px;}
.othersMenuButtonBaseDisabled{background:url(images/images/topButtons_Disabled.jpg) no-repeat -280px 0px;color:#949494;padding-left:10px;}
.othersMenuButtonBaseOver{background:url(images/images/topButtons_Over.jpg) no-repeat -280px 0px;color:#ee7800;padding-left:10px;}
.othersMenuButtonTitleOver {background:url(images/images/topButtons_Over.jpg) no-repeat -280px 0px;color:#ee7800;padding-left:10px;}
.othersMenuButtonTitle:hover {color:#ee7800;}

.optionMenuButtonTitle{background:url(images/icons/option.png) no-repeat 0 center;color:#535353;padding-left:24px;}
.optionMenuButtonBase{background:url(images/icons/option.png) no-repeat 0 center;color:#535353;padding-left:24px;}
.optionMenuButtonBaseOver{background:url(images/icons/option_Over.png) no-repeat 0 center;color:#ee7800;padding-left:24px;}
.optionMenuButtonTitleOver {background:url(images/icons/option_Over.png) no-repeat 0 center;color:#ee7800;padding-left:24px;}
.optionMenuButtonTitle:hover {color:#ee7800;}

.logoutButtonBase{color:#535353}
.logoutButtonBaseDisabled{color:#949494}
.logoutButtonBaseOver{color:#ee7800}

.toolStripButton, .toolStripButtonOver, .toolStripButtonFocused, .toolStripButtonFocusedOver, .toolStripButtonDown, .toolStripButtonFocusedDown, .toolStripButtonSelected, .toolStripButtonSelectedFocused, .toolStripButtonSelectedDown, .toolStripButtonSelectedFocusedDown, .toolStripButtonSelectedOver, .toolStripButtonSelectedFocusedOver, .toolStripButtonDisabled, .toolStripButtonSelectedDisabled{background:none;border:none}
.toolStripButton .toolStripButtonText{font:14px 微软雅黑;color:#535353}
.toolStripButtonOver .toolStripButtonText{font:14px 微软雅黑;color:#ff870f}
.toolStripButton .optionMenuButtonTitle img,.toolStripButtonOver .optionMenuButtonTitle img{display:none}
.formCell, .formCellFocused, .formCellDisabled, .nestedFormContainer, .nestedFormContainerFocused, .nestedFormContainerDisabled {font-size:14px;}
.searchLayout form{position:absolute;top:-2px}
.searchLayout .null{display:none}
.searchInput,
.searchInputHint,
.searchInputFocused{border:0;background:url(images/images/top_search_bg.jpg) no-repeat;padding:4px 10px;color:#959595;}
.searchIconButtonBase,
.searchIconButtonBaseDown{background:url(images/images/top_search_bg.jpg) no-repeat -225px 0;}
.advancedSearchButtonBase,
.advancedSearchButtonBaseDown{background:url(images/images/top_search_bg.jpg) no-repeat -254px 0;}
.searchIconButtonBaseOver{background:url(images/images/top_search_bg_Over.jpg) no-repeat -225px 0;}
.advancedSearchButtonBaseOver{background:url(images/images/top_search_bg_Over.jpg) no-repeat -254px 0;}

* html .toolStripButtonText{position:relative;top:1px}
* html .optionMenuButtonTitle .toolStripButtonText,
* html .optionMenuButtonTitleOver .toolStripButtonText,
* html .optionMenuButtonTitleDown .toolStripButtonText{background:url(images/icons/16/option.gif) no-repeat 0 -1px}

.treeViewMenuButtonTitle{background:url(images/icons/16/treeView.gif) no-repeat 2px 4px}
.listViewMenuButtonTitle{background:url(images/icons/16/listView.gif) no-repeat 2px 4px}
.uploadMenuButtonTitle img,.uploadMenuButtonTitleDisabled img,.othersMenuButtonTitle img,.optionMenuButtonTitle img,
.uploadMenuButtonTitleOver img,.othersMenuButtonTitleOver img,.optionMenuButtonTitleOver img{display:none}

.treeViewMenuButtonTitle,.listViewMenuButtonTitle{font-size:12px;color:#000000;text-align:right}

.menuButtonBase,.menuButtonBaseDisabled{background:url(images/images/menuButtonBg.jpg)}
.menuButtonBase2,.menuButtonBase2Disabled{background:url(images/images/menuButtonBg2.jpg)}
.menuButtonBase3,.menuButtonBase3Disabled{background:url(images/images/menuButtonBg3.jpg)}

/*-其他按钮-*/
* html .iconbtn-txt{position:relative;top:4px}


#help-link,#quick-link,#manager-link,#version-link,#logout-link{display:block;font:12px 微软雅黑;color:#333333;text-decoration:none;}
#help-link:hover,#logout-link:hover{display:block;background:url(images/images/toolstripButtonBg2.gif) no-repeat;width:52px;height:22px}
#quick-link:hover,#manager-link:hover,#version-link:hover{display:block;background:url(images/images/toolstripButtonBg.gif) no-repeat;width:64px;height:22px}
#logout-btn,#help-btn{width:52px;height:22px;cursor:pointer}
#quick-btn,#manager-btn,#version-btn{width:64px;height:22px;cursor:pointer}
#help-txt{background:url(images/icons/16/help.gif) no-repeat 4px 3px;font:12px 微软雅黑;color:#333333;padding:4px 0px 2px 24px;padding-top:6px \9;cursor:pointer}
#quick-txt{background:url(images/icons/16/quick.gif) no-repeat 4px 2px;font:12px 微软雅黑;color:#333333;padding:4px 0px 2px 24px;padding-top:6px \9;cursor:pointer}
#manager-txt{background:url(images/icons/16/manager.gif) no-repeat 4px 3px;font:12px 微软雅黑;color:#333333;padding:4px 0px 2px 24px;padding-top:6px \9;cursor:pointer}
#version-txt{font:12px 微软雅黑;color:#333333;padding:4px 0px 2px 8px;padding-top:6px \9;cursor:pointer}
#logout-txt{background:url(images/icons/16/logout.gif) no-repeat 4px 3px;font:12px 微软雅黑;color:#333333;padding:4px 0px 2px 24px;padding-top:6px \9;cursor:pointer}

.hint{white-space:nowrap}
.textItemHint{color:#aaaaaa}
#downloadlink{cursor:pointer;text-decoration:none;}

.addShareUserButtonBase,.addShareUserButtonBaseDisabled{background:url(images/images/addShareUser.jpg)}

.gridHover{white-space:nowrap}

.menuOver,
.menuSelectedOver,
.menuTitleFieldOver,
.menuTitleFieldSelectedOver,
.menuIconFieldOver,
.menuIconFieldSelectedOver,
.treeMenuSelected,
.treeMenuSelectedOver,
.treeMenuSelectedSelected,
.treeMenuSelectedSelectedOver {
	background:#e3f1ff\9 ;
}

.searchGroupInput,
.searchGroupInputHint,
.searchGroupInputFocused{border:0;background:url(images/images/search_group_bg.jpg) no-repeat ;padding:4px 4px 4px 30px;color:#b2b2b2;}
.searchGroupIcon{background:url(images/images/search_group_bg.jpg) no-repeat -196px 0}

.treeCell, .treeCellDark, .treeCellOver, .treeCellOverDark, .treeCellSelected, .treeCellSelectedDark, .treeCellSelectedOver, .treeCellSelectedOverDark, .treeCellDisabled, .treeCellDisabledDark, .treeTallCell, .treeTallCellDark, .treeTallCellOver, .treeTallCellOverDark, .treeTallCellSelected, .treeTallCellSelectedDark, .treeTallCellSelectedOver, .treeTallCellSelectedOverDark, .treeTallCellDisabled, .treeTallCellDisabledDark{
	color:#4c4c4c
}
.treeCellOver,
.treeCellOverDark,
.treeTallCellOver,
.treeTallCellOverDark{background-color:transparent}
.groupTreesLayout .treeCellSelected, .groupTreesLayout .treeCellSelectedDark,
.groupTreesLayout .treeCellSelectedOver, .groupTreesLayout .treeCellSelectedDarkOver,
.groupTreesLayout .treeTallCellSelected, .groupTreesLayout .treeTallCellSelectedDark,
.groupTreesLayout .treeTallCellSelectedOver, .groupTreesLayout .treeTallCellSelectedDarkOver{background:none;color:#ee7800}

.toolbarLabelBase,.toolbarCheckbox{color:#353535}

.dateChooserButton, .dateChooserButtonOver, .dateChooserButtonDown, .dateChooserButtonDisabled, .dateChooserButtonSelected, .dateChooserButtonSelectedDown, .dateChooserButtonSelectedOver, .dateChooserButtonSelectedDisabled, .dateChooserWeekendButton, .dateChooserWeekendButtonOver, .dateChooserWeekendButtonDown, .dateChooserWeekendButtonDisabled, .dateChooserWeekendButtonSelected, .dateChooserWeekendButtonSelectedDown, .dateChooserWeekendButtonSelectedOver, .dateChooserWeekendButtonSelectedDisabled, .dateChooserBottomButton, .dateChooserBottomButtonOver, .dateChooserBottomButtonDown, .dateChooserBottomButtonSelected, .dateChooserBottomButtonSelectedOver, .dateChooserBottomButtonSelectedDown, .dateChooserNavButton, .dateChooserNavButtonOver, .dateChooserNavButtonDown, .dateChooserNavButtonSelected, .dateChooserNavButtonSelectedOver, .dateChooserNavButtonSelectedDown, .dateChooserWeekday, .dateChooserWeekdayOver, .dateChooserWeekdayDown, .dateChooserWeekdaySelected, .dateChooserWeekdaySelectedOver, .dateChooserWeekdaySelectedDown, .dateChooserWeekdayDisabled, .dateChooserWeekend, .dateChooserWeekendOver, .dateChooserWeekendDown, .dateChooserWeekendSelected, .dateChooserWeekendSelectedOver, .dateChooserWeekendSelectedDown, .dateChooserWeekendDisabled{
font:12px "微软雅黑";white-space:nowrap
}
.menuMain {
background:url("./images/images/menuBg.jpg") repeat-y scroll 0 0 #FFFFFF;
}
/*.favorites{background:url(images/icons/favorites.png) no-repeat left center ;padding:8px 0 8px 28px;height:12px;}
.treeCellSelected .favorites,
.treeCellSelectedDark .favorites, 
.treeCellSelectedOver .favorites,
.treeCellSelectedDarkOver .favorites,
.treeTallCellSelected .favorites,
.treeTallCellSelectedDark .favorites,
.treeTallCellSelectedOver .favorites,
.treeTallCellSelectedDarkOver .favorites {
    background:url(images/icons/favorites_selected.png) no-repeat left center;
}*/

/**首页Layout**/
body {overflow:hidden;}
.frameLayout{border:1px solid #a7abb4}
.frameLayout div {height:100%;overflow:hidden;}
.frameLayout .frame {border:0;overflow:auto}
.uploadPane{overflow:hidden !important}

.resumeUpload{cursor:pointer;color:#FF0000;}

.attachment img{padding:2px}
.attachment span{font-size:12px;}

.logo img{width:240px;height:43px;padding:3px 0px 0 1px}



/*-用户组结构树-*/
.listGrid,.gridBody{background:none}
.groupTreesLayout .listGrid .gridBody + div{z-index:999999!important}
.listGrid .alternateGridBody div, .listGrid .alternateGridBody nobr, .listGrid .gridBody nobr {
    font-family: "微软雅黑" !important;
}
.folder,.folder-empty{height:19px;background:url(images/images/folderHead.jpg) no-repeat;padding-left:4px;display:inline-block}
.folder div{height:15px;background:url(images/images/folderBg.jpg) no-repeat right;color:#000000;padding:4px 4px 0px 4px}
.folder-empty div{height:15px;background:url(images/images/folderBg.jpg) no-repeat right;color:#898989;padding:4px 4px 0px 4px}
.team{height:19px;background:url(images/icons/16/team.gif) no-repeat left;padding-left:18px}
.person{height:19px;background:url(images/icons/16/person.gif) no-repeat left;padding-left:18px}
.team div,.person div{height:15px;color:#000000;padding:4px 0px 0px 0;}

.addGroupButtonBase,.addGroupButtonBaseDisabled{background:url(images/images/addGroup.jpg)}
.removeGroupButtonBase{background:url(images/images/removeGroup.jpg)}
.removeGroupButtonBaseDisabled{background:url(images/images/removeGroup_disabled.jpg)}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.stretchImgButton div, .stretchImgButtonSelected div, .stretchImgButtonSelectedOver div, .stretchImgButtonOver div, .stretchImgButtonDown div, .stretchImgButtonSelectedDown div, .stretchImgButtonSelectedDisabled div, .stretchImgButtonDisabled div {
 top:-1px}
}

.searchAreaItemTextBox{border:1px solid #a7abb4;padding:3px 2px;cursor:pointer;font-size:12px}
.dateItemTextDisabled {color: #000000;
    background-color: #ffffff;
    border: 1px solid #A6ABB4;
    height:20px;
}

.modalMask{background:none \0 !important;opacity:0.6 !important;filter:alpha(opacity=60) !important;}
.modalMask img{width:5000px !important;height:3000px !important;display:none \0!important;}

.uploadWrap div,.uploadWrap iframe{height:100% !important}

.ListGridHeader,.ListGridHeaderOver,.ListGridHeaderDown{border-left:1px solid #ffffff;padding:0 12px}
.sorterButton,.sorterButtonOver,.sorterButtonDown{background:none;border:none}

.windowBackground, .customWindow{background:none;border:0 none;box-shadow:0 0 0;overflow:visible!important}
.windowHeader, .dialogHeader,.windowHeaderHilite, .dialogHeaderHilite{background:url(images/images/top_toolbar_bg.jpg) repeat-x;top:-19px!important;height:40px!important;padding-left:10px;box-shadow:0px 0px 3px #ccc ;padding-top:12px}
.windowHeader > div, .dialogHeader > div,.windowHeaderHilite > div, .dialogHeaderHilite > div{top:12px!important;height:20px!important;}
.dialogHeader  div, .dialogHeaderHilite div {overflow:visible!important}
.dialogHeader  div table, .dialogHeaderHilite div table{padding-left:10px}
.dialogHeader  .imgButton, .dialogHeaderHilite .imgButton,
.dialogHeader  .imgButtonOver, .dialogHeaderHilite .imgButtonOver{right:10px!important;left:auto!important}
.windowHeaderText, .dialogHeaderText{color:#353535;}
.windowBody{border:0 none;box-shadow:0px 0px 3px #ccc}

.WindowButtonBase{background:url(images/images/windowButtonBg.jpg);color:#ffffff}
.WindowButtonBaseOver{background:url(images/images/windowButtonBg_Over.jpg);color:#ffffff}
.WindowButton2Base{color:#2584b8}
.clipBoardButton{background:url(images/images/windowButtonBg2.jpg);}

.webLibraryTreeGrid{background:url(images/images/webLibraryTreeGrid_bg.jpg) no-repeat bottom right}

.textItem,.textItemFocused, .textItemHint,.selectItemTextFocused{min-height:18px!important}

.DownloadLinkHint{color:#ee7800;background:url(images/images/linkSuccess.jpg) no-repeat 8px center;padding-left:40px}

.rollOverButton{font-size:12px;color:#2584b8}
.noticeLabel {font-size: 11px;color: #666;padding-left: 12px;}
.clipBoardLabel {color: #333;text-align: right;padding-right: 10px;}