<div id="AccountContent">
    <span style="    position: relative;
    top: -7px;
    background: #F8F8F8;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;">
        个人信息
    </span>
<div style="margin :5px 20px">
    <span style="padding-left: 28px;">
        姓名：<input type="text" ng-model="data.name"  class="setting_input"/>
    </span>
    <span style="padding-left: 80px;">
        单位：<input type="text" ng-model="data.company"  class="setting_input"/>
    </span>
</div>
    <div style="margin :20px">
    <span style="padding-left: 28px;">
        部门：<input type="text" ng-model="data.department"  class="setting_input"/>
    </span>
    <span style="padding-left: 80px;">
        手机：<input type="text" ng-model="data.mobile"  class="setting_input"/>
    </span>
    </div>
    <div style="margin :20px">
    <span style="padding-left: 28px;">
        电话：<input type="text" ng-model="data.phone"  class="setting_input"/>
    </span>
    <span style="padding-left: 80px;">
        邮箱：<input type="text" ng-model="data.email" class="setting_input"/>
    </span>
    </div>
    <div style="margin-left: 24px">
    <span>
        即时通讯：<input type="text" ng-model="data.im" class="setting_input"/>
    </span>
    </div>
</div>
<div id="resetPassword">
        <span style="    position: relative;
    top: -7px;
    background: #F8F8F8;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;">
        修改密码
    </span>
    <div style="padding-left: 35px;
    padding-top: 5px;">
    <span>
        原密码：<input type="password" ng-model="data.old_password"  class="setting_input"/> 该项不填则不修改密码
    </span>
    </div>
    <div style="padding-left: 35px;
    padding-top: 15px;">
    <span>
        新密码：<input type="password" ng-model="data.new_password"  class="setting_input"/>
    </span>
    </div>
    <div style="padding-left: 24px;
    padding-top: 15px;">
    <span>
        确认密码：<input type="password" ng-model="data.confirm_password"  class="setting_input"/>
    </span>
    </div>
</div>
<div class="am-margin">
    <button type="button" class="am-btn am-btn-primary am-btn-xs" ng-click="modifyBtn()">确定</button>
    <button type="button" class="am-btn  am-btn-xs" ng-click="cancel()">取消</button>
</div>